<section class="cta" id="pricing">
    <div class="container cta-container">
        <div class="cta-text">
            <h2>Tire sua Ideia do Papel <br>Hoje Mesmo</h2>
            <p>Transforme sua visão em um produto digital de sucesso com nossa expertise em design e desenvolvimento.
                Baixe nosso app para começar.</p>
            <div class="app-buttons">
                <a href="#" class="store-btn">
                    <img src="assets/play-store.webp" alt="Google Play Icon">
                    <div class="btn-text">
                        <span class="btn-small-text">GET IT ON</span>
                        <span class="btn-large-text">Google Play</span>
                    </div>
                </a>
                <a href="#" class="store-btn">
                    <img src="assets/app-store.webp" alt="App Store Icon">
                    <div class="btn-text">
                        <span class="btn-small-text">Download on the</span>
                        <span class="btn-large-text">App Store</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="cta-image">
            <img src="assets/cta-phone.webp" alt="App Analytics">
        </div>
    </div>
</section>