#hero {
    padding: 100px 20px 40px;
    text-align: center;
    position: relative;
    z-index: 1;
    /* Ensures content is above background symbols */
}

#hero h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    line-height: 1.2;
}

#hero h1 span {
    color: var(--accent-color);
}

#hero p {
    font-size: 1.2em;
    color: var(--text-muted);
    max-width: 600px;
    margin: 0 auto 40px auto;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 2.5em;
    }
}