<section id="projetos">
    <div class="container">
        <h2>Meus Projetos</h2>

        <div class="grid-projetos">

            <a href="projects/a-space/index.html" class="card" target="_blank" aria-label="Ver projeto A-SPACE"
                style="text-decoration: none; color: inherit;">
                <div class="card-image">
                    <img src="assets/demo_A-SPACE.png" alt="A-SPACE Dashboard">
                </div>
                <div class="card-content">
                    <h3>A-SPACE - Site Institucional</h3>
                    <p>Website institucional para uma empresa de
                        tecnologia que utiliza dados de satélites para
                        gerar insights e soluções digitais.</p>
                    <div class="card-links">
                        <span class="link-projeto">Live Demo ↗</span>
                    </div>
                </div>
            </a>

            <a href="projects/pro-curriculum/index.html" class="card" target="_blank"
                aria-label="Ver projeto Pro Curriculum" style="text-decoration: none; color: inherit;">
                <div class="card-image">
                    <img src="assets/demo_pro_curriculum.png" alt="Pro Curriculum Page">
                </div>
                <div class="card-content">
                    <h3>Pro Curriculum - Template de Currículo Profissional </h3>
                    <p>Template profissional para portfólios e currículos online. Estrutura elegante com seções de
                        sobre,
                        serviços e contato.</p>
                    <div class="card-links">
                        <span class="link-projeto">Live Demo ↗</span>
                    </div>
                </div>
            </a>

            <a href="projects/app-co/index.html" class="card" target="_blank" aria-label="Ver projeto AppCo"
                style="text-decoration: none; color: inherit;">
                <div class="card-image">
                    <img src="assets/demo_app_co.png" alt="AppCo Landing Page">
                </div>
                <div class="card-content">
                    <h3>AppCo - Landing Page</h3>
                    <p>Landing page vibrante para startups de desenvolvimento de apps. Foco total em usabilidade,
                        design mobile e conversão de leads.</p>
                    <div class="card-links">
                        <span class="link-projeto">Live Demo ↗</span>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>